table {
border : 1px solid black;
}
.table td {
border : 1px solid black;
}
.table th {
background-color: #A0A0A3;
border : 1px solid black;
}
.question{
font-size : 16px;
font-weight : bold;
font-style : italic;
}
.notranslate{
	font-weight : bold;
}
a:link {
	color : #A0A0A3;
	font-weight : bold;
}
a:visited {
	color : #67CA88;
	font-weight : bold;
}
a:active {
	color : RED;
	font-weight : bold;
}
a:hover {
	color: #CA67A9;
	font-weight : bold;
}